
@charset "UTF-8";

@font-face {
    font-family: nino;
    src: url("/fonts/nino.ttf");
}

@font-face {
    font-family: mtavruli;
    src: url("/fonts/mtavruli.ttf");
  }

body {
    font-family: mtavruli !important;
}

.clear {
    clear: both;
    height: 110px;
  }

.clearTwo {
    clear: both;
    height: 50px;
  }

/* ---------------------------- */
/* Users Block */
.userImgUploadButton {
    background-color: #F19D01 !important;
}

.userImgUploadButton:hover {
    background-color: rgb(241,157,1,0.8) !important;
}

.userUploadButton {
    background-color: #F19D01 !important;
}

.userUploadButton:hover {
    background-color: rgb(241,157,1,0.8) !important;
}

.userDescriptionButton {
    color: #fff !important;
    background-color: #144F89 !important;
}

.userDescriptionButton:hover {
    background-color: rgb(20,79,137,0.8) !important;
}

.userPlusStyle {
    color: #fff !important;
    background-color: #144F89 !important;
}

.userPlusStyle:hover {
    background-color: rgb(20,79,137,0.8)!important;
}

.userEditStyle {
    color: #fff !important;
    background-color: #F19D01 !important;
}

.userEditStyle:hover {
    background-color: rgb(241,157,1,0.8) !important;
}

.userPageImg img {
    width: 70px;
}

.userHomeName a {
    font-weight: bold;
}

.userHomeCard {
    font-size: 15px;
}

.userHomeLogout {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.userHomeLogout:hover {
    background-color: #fff !important;
    color: #144F89 !important;
}

.personalPageTitle {
    text-align: center;
}

.addPagePersonalInfo {
    background-color: #144F89 !important;
}

.addPagePersonalInfo:hover {
    background-color: rgb(20,79,137,0.8) !important;
}

.editPagePersonalInfo {
    color: #fff !important;
    background-color: #F19D01 !important;
}

.editPagePersonalInfo:hover {
    background-color: rgb(241,157,1,0.8) !important;
}

.addPagePersonalInfo i {
    color: #fff;
}

.userPageStudy {
    text-align: center;
}

.userPageJob {
    text-align: center;
}
  
/* --------------------------- */

/* Navigation Block */
.langImg img {
    width: 100% !important;
}

.navbar {
    font-family: nino;
}

.navMenu img {
    width: 80px;
}

.navbar {
    border-bottom: 5px solid #F19D01;
}

.navMenu a {
    color: white !important;
}

.navMenu a:hover {
    color: #F19D01 !important;
}

.navMenu .dropdown-item {
    color: black !important;
}

.navMenu .dropdown-item:hover {
    background-color: white;
}

.navMenu {
    background-color: #144F89;
}

.navMenu .active {
    color:#F19D01 !important;
}

.searchButton {
    background-color: #F19D01;
}

.searchButton:hover {
    color: white;
    background-color: rgb(241,157,1,0.8);
}

/* MainPageHeader Registration Social Block Style */
.mainPageHeader {
    background-color: rgb(255, 254, 247, 0.9);
}

.login a {
    color: black;
    text-decoration: none;
}

.login {
    padding-top: 8px;
}

.aLog {
    font-size: 14px;
    background-color: #F19D01;
}

.aLog:hover {
    background-color: rgb(241,157,1,0.8);
    color: white;
}

.aHome {
    background-color: #F19D01;
}

.aHome:hover {
    background-color: rgb(241,157,1,0.8);
}

.aReg {
    font-size: 14px;
    color: white !important;
    background-color: #144F89;
} 

.aReg:hover {
    background-color: rgb(20,79,137,0.8);
}

.social a {
    font-size: 35px;
    text-decoration: none;
}

.social .face {
    color: #144F89;
}

.social .face:hover {
    color: rgb(20,79,137,0.8);
}

.social .insta {
    color:#F19D01;
}

.social .insta:hover {
    color: rgb(241,157,1,0.8);
}

/* MainPage Middle Block Style */
.title {
    color: #F19D01;
    margin-bottom: 30px;
    padding-left: 1%;
    position: relative;
}

.title::before {
  position: absolute;
  left: -29px;
  top: 0;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: #144F89;
  box-shadow: 0px 4px 4px 0px #aaa;
  border-radius: 4px;
  content: '';
}

.title::after {
  position: absolute;
  left: -19px;
  top: 25px;
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
  background-color: #144F89;
  box-shadow: 0px 4px 4px 0px #aaa;
  border-radius: 4px;
  content: '';
}

 /* services */
.serviceBlock {
    background-color: rgb(255, 254, 247, 0.9);
}

.services {
    padding:40px;
    position: relative;
}

.services .square {
  height: 100px;
  width: 100px;
  margin: 30px auto 40px;
  position: relative;
  border-radius: 15px;
  transform: rotate(45deg);
  padding: 10px;
  background-color:#144F89;
  box-shadow: 0px 0px 27px 0px #ccc;
  border: 2px dotted #eaf3fa;
}

.services .square:hover {
    background-color: #F19D01;
    color: black !important;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center
}

.square i {
  transform: rotate(315deg);
  display: block;
  color: #eaf3fa;
  font-size: 40px;
  /* padding-top: 17px;
  padding-right: 14px; */
}
.services .square::before {
  position: absolute;
  left: -10px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #F19D01;
  content: '';
}
.services .square::after {
  position: absolute;
  left: 50px;
  top: 66px;
  width: 1px;
  height: 88%;
  background-color:#F19D01;
  content: '';
  transform: rotate(90deg);
}
.services .serv .num
 {
   width: 60px;
   height: 60px;
   background-color: #144F89;
   box-shadow: 0px 0px 15px 0px #00a9d3;
   margin: -38px auto 15px auto;
   border-radius: 50%;
   color: #fff;
   font-size: 30px;
    padding-top: 7px;
    border: 1px dashed;
  }
.services .serv h5 a {
    color: #F19D01;
}

.services .serv a {
    text-decoration: none;
}

.services .serv h5 a:hover {
    color: #144F89;
}

.services .serv p {
    color: #777;
}

.services .serv hr {
  width: 30px;
  border-top: 3px solid rgb(0 169 211);
}

/* Main Page Middle Block: Notice Block Style */

.noticeBlock {
    padding-top:3%;
    padding-bottom: 3%;
    position: relative;
    background-color: rgb(241,157,1,0.1);
}

.noticeTitle {
    padding-left: 15%;
}

.moreNotice {
    text-align: center;
}

.moreNotice .btn {
    background-color: #FF6347;
    color: #fff;
}

.moreNotice .btn:hover {
    background-color: rgb(255, 99, 71, 0.6);
    color: black;
}

.cardBlock {
    padding-bottom: 3%;
}

.cardBlock .card {
    padding-bottom: 5%;
    /* width: 18rem; */
}

/* Footer Block Style */
.footerMain {
    background-color: rgb(255, 254, 247, 0.9);
}

.footerSocial a {
    text-decoration: none;
}

.footerFb i {
    color: #144F89;
    font-size: 20px;
}

.footerFb:hover {
    color: #F19D01;
}

.footerInst i {
    color: #F19D01;
    font-size: 20px;
}

.footerInst:hover {
    color: #F19D01;
}

.footerGoogle i {
    color: #db3236;
    font-size: 20px;
}

.footerTerms a {
    text-decoration: none;
}

.footerTerms p:hover {
    color: #F19D01;
}

.footerQuestion i {
    color: #144F89;
    font-size: 20px;
}

.footerInfo i {
    color: #F19D01;
    font-size: 20px;
}

.footerStatistic span {
    font-weight: bold;
    color: #db3236;
}

.footerNotice i {
    color: #db3236;
    font-size: 20px;
}

.footerUsers i {
    color: #00a9d3;
    font-size: 20px;
}

.footerBottom {
    background-color: rgb(241,157,1,0.1);
}

/* Media */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .langImg img {
        width: 20px !important;
    }

    .navbar a {
        font-size: 13px;
    }

    .card h5 {
        font-size: 15px;
    }

    .card p {
        font-size: 15px;
    }

    .noticeBlock {
        padding-top:10%;
    }

    .buttonA a {
        font-size: 12px !important;
    }

    .social {
        float: right !important;
    }
}

@media only screen and (max-width: 450px) {
    .social {
        float: left !important;
    }

    .langImg img {
        width: 30px !important;
    }
}